@import './color/color.css';
* {
    font-family:  'Plus Jakarta Sans';
    box-sizing: border-box;
}
body { 
   margin: 0;   
}
.container {
    display: flex;
    align-content: space-between; 
    margin: auto;
    padding: 16px 16px 40px 16px;
    width: 375px;
}
.section-1 .container {
    background: rgb(251, 251, 252);
}
.header {
    display: flex;
    gap: 110px;   
}
.header h4 {
    margin: 0;
    text-align: center;
    color: var(--13183F);
    font-size: 28px;
    font-weight: 800;   
}
.butt {
    width: 140px;
    height: 48px;
    background-color:var(--13183F);
    color: white;
    border: 0;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 800;
}
.section-2 .container {
    display: grid;
    text-align: center;
    background: rgb(251, 251, 252);
}
.box-1 h4 { 
    width: 343px;
    height: 101px;
    color: var(--13183F);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
}
.box-1 p {
    width: 343px;
    height: 78px;
    color: var(--83869A);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}
.butt-2 {
    display: grid;
    text-align: center;
    width: 167px;
    height: 56px;
    color: white;
    background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    border: 0;
    border-radius: 28px;
    align-items: center;  
}
.box-2 {
    display: grid;
    justify-content: center;
    padding-top: 70px;
    position: relative;
}
.img {
    display: grid;
    width: 238px;
    height:253px;
    border-radius: 200px;
    margin: 18px 7px;   
}
.backgr {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 100%;
    width: 253px;
    height: 270px;
}
.butt {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.course {  
    background-color: white;
    width:145px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    top:245px;
}
.hours {
    color: var( --83869A);
    width: 100px;
    height: 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    margin: 10px;
    text-align: left;
}
.number {
    
    display:grid;
    color: var(--13183F);
    font-size:32px;
    font-weight: 800;
    width: 80px;
    height: 40px;
    margin: 10px;   
}
.member {
    background-color: white;
    width: 105px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    top : 50px;
    left:230px;   
}
.mem-tex {
   display: grid;
   width: 65px;
   height: 28px;
   color: var(--83869A);
   font-size: 14px;
   font-weight: 700;
   line-height: 28px; 
   text-align: center;
   margin: 10px;
   text-align: center;  
}
.number-2 {
   display: grid;
   color: var(--13183F);
   width: 58px;
   height: 40px;
   font-size: 32px;
   font-weight: 800;
   margin: 10px;
}
.img-2 {
    display: none;
}
.section-3 .container {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 49px;
    position: relative;
    background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
}
.card-1 {
    display: grid;
    width: 343px;
    height: 120px;
    color: var(--FFF);
    background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%)); 
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.card-1 h5 {
   
    width: 286px;
    height: 64px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    text-align: left;
    margin: 0; 
}
.card-2 {
    display: grid;
    width: 343px;
    height: 259px;
    background-color:var(--FFF) ;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    border-radius: 10px;
    padding: 56px 29px 32px 29px;   
}
.icon {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 45px;
    top: 160px; 
  }
h3 {
    color: var(--13183F);
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    margin: 0;
}
p {
    width: 286px;
    height: 78px;
    color: var(--83869A);
    font-size: 16px;
    font-weight: 500px; 
    line-height: 26px;
    text-align: left;
}
a {
   width:104px;
   height: 28px;
   color: var(--F74780); 
   font-size: 18px;
   font-weight: 700;
   line-height: 28px;
}
a:hover {
    color: var(--FFA7C3);
}
.card-3 {
    display: grid;
    width: 343px;
    height: 259px;
    background-color:var(--FFF) ;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    border-radius: 10px;
    padding: 56px 29px 32px 29px;   
}
.icon-2 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 45px;
    top: 470px;  
  }
.card-4 {
    display: grid;
    width: 343px;
    height: 259px;
    background-color:var(--FFF) ;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    border-radius: 10px;
    padding: 56px 29px 32px 29px;  
}
.icon-3 {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 45px;
    top: 780px; 
 }
.card-5 {
    display: grid;
    width: 343px;
    height: 259px;
    background-color:var(--FFF) ;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    border-radius: 10px;
    padding: 56px 29px 32px 29px;   
}
.icon-4 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 45px;
     top: 1080px  
}
.card-6 {
    display: grid;
    width: 343px;
    height: 259px;
    background-color:var(--FFF) ;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    border-radius: 10px;
    padding: 56px 29px 32px 29px;  
}
.icon-5 {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 45px;
    top: 1400px;   
}
  .footer-1 .container {
   padding: 0px;
  }
  .footer {
    display: flex;
    gap: 80px;
    width: 375px;
    height: 120px;
    background-color: var( --13183F);
    justify-content: center;
    align-items: center; 
}
.footer h4 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 800;    
}
.butto {
    width: 140px;
    height: 48px;
    background: var(--Gradient-2, linear-gradient(180deg, #4851FF 0%, #F02AA6 100%));
    color: white;
    border: 0;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 700;
}
.butto:hover {
    background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
}