/*responsive*/

@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }

    .nav-link {
        display:initial;
         
     }
     .download-search-box {
         display: initial;
     }
     .menu-btn {
        display: none;
     }
     .download-link {
        display: flex;
        align-items: center;
        background: dodgerblue;
        color: white;
        gap: 5px;
        padding: 10px;
        
     }
     .search-box, 
     .download-search-box {
        display: flex;
    }

    .welcom-section .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        
    }
    .features-section .container {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .tsestimonials-section .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .screenshot-section .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        
    }
    .screenshot-section-2 .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        
    }
    .screenshot-2 {
        display: grid;
        order: 1;
    }
    .screenshot-img {
    
        padding-block: 45px;
        order: 2;
        
    }
    .screenshot-section-3 .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        
    }
    .screenshot-section-4 .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        
    }
    .screenshot-section-5 .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        
    }
    .program-langvage .container {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap:40px;
    }
    .box2 .container {
        display: grid;
        
        
    }

    .program .container {
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap:45px;
    }

    .col-md .container {
        display: grid;
        grid-template-columns:repeat( 2,1fr);
    }
    .use .container {
        display: grid;
        grid-template-columns:repeat( 2,1fr);
        
    }

    .use {
        margin-top: 10px;
    }
    .footerrr .container {
        display: grid;
        grid-template-columns: repeat( 9,1fr);
        column-gap: 0px;
    }
        

}
@media screen and (min-width: 1200px) {
    .container {
     width: 1140px;
    }
}
