@media screen and (min-width: 1200px) {
    .container {
        
        grid-template-columns: 255px 255px 255px 255px;
        gap: 30px;
     }
     
    .card-1 {
        width: 540px;
        height: 282px;
        grid-column: 1/span 2;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 16px;
    }
    .card-2{
        width: 255px;
        height: 282px;
        grid-column: 3/span 1;
    }
    .card-3 {
        width: 255px;
        height: 266px;
        grid-row: 2;
    }
    .card-4 {
        width: 540px;
        height: 266px;
        grid-row: 2;
        grid-column: 2/span 2;
    }
    .card-5 {
        width: 255px;
        height: 572px;
        grid-row: 1/span 2;
        grid-column: 4;
    }
    



}  