:root {
    --666CA3:#666CA3;
    --13183F:#13183F;
    --83869A:#83869A;
    --F74780:#F74780;
    --FFA7C3:#FFA7C3;
    --FFF:#FFF;
    --FF6F48:#FF6F48;
    --F02AA6:#F02AA6;
    --4851FF:#4851FF;

}