@import './color.css';

* { 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: auto;
    
}

.header a:hover {
    background: linear-gradient(92deg, #a5a4a4 -277.19%, rgba(255, 255, 255, 0.00) 98.79%);
    border-left: 6px solid rgb(21, 14, 14);
}
    
.darkmode .header a:hover {
    background: linear-gradient(92deg, #FFF -277.19%, rgba(255, 255, 255, 0.00) 98.79%);
    border-left: 6px solid white;
}
.home {
    display: grid;
    justify-content: center;
    align-items: center;
    width:250px;
    height: 72px;
}
.weater_menu {
    display: grid;
    justify-content: center;
    align-items: center;
    width:250px;
    height: 72px;
}
.horiscop_menu {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 72px;
}
.notification_menu {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 72px;
}
.currency_converter {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 72px;
}


.section1 .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items:center;
    text-align: center;
}
.container {
    display: grid;
    width: 428px;
    height:2825px;
    padding: 30px;
   
}
.days {
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 30px;
   
   
}
.boxs_1 {
    width:170px ;
    height:160px ;
    background-color: rgb(239, 237, 240);
    border-radius: 18px;
    padding: 20px;
}
.darkmode .boxs_1 {
    background-color: rgb(24, 44, 66);
}
.temperature {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.66px;
}